<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ModuleMapper">

	<select id="findModuleList" resultMap="ModuleRM">
		SELECT * FROM module_p m LEFT JOIN 
			(SELECT module_id AS p_id ,NAME AS PARENT_name FROM module_p) p 
		ON m.parent_id = p.p_id
	</select>

	<resultMap type="Module" id="ModuleRM">
		<id property="moduleId" column="MODULE_ID"/>
		<result property="name" column="NAME"/>
		<result property="ctype" column="CTYPE"/>
		<result property="state" column="STATE"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="remark" column="REMARK"/>
		<result property="createBy" column="CREATE_BY"/>
		<result property="createDept" column="CREATE_DEPT"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="updateBy" column="UPDATE_BY"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		
		<!--一对一  -->
		<association property="ParentModule" javaType="Module">
			<id property="moduleId" column="PARENT_ID"/>
			<result property="name" column="PARENT_NAME"/>
		</association>
	</resultMap>
	
	<insert id="saveModule">
		insert into module_p values(
			#{moduleId},
			#{ParentModule.moduleId},
			#{name},
			#{ctype},
			1,
			#{orderNo,jdbcType=INTEGER},
			#{remark,jdbcType=VARCHAR},
			#{createBy,jdbcType=VARCHAR},
			#{createDept,jdbcType=VARCHAR},
			sysdate,
			#{updateBy,jdbcType=VARCHAR},
			sysdate
		)
	</insert>
	
	<!--删除模块  -->
	<delete id="deleteModule">
		delete from module_p where module_id in (
			<foreach collection="array" item="id" separator=",">
				#{id}
			</foreach>
		)
	</delete>
	
	<!--根据ID查找模块信息  -->
	<select id="findModuleById" resultMap="ModuleRM">
		SELECT * FROM module_p m LEFT JOIN 
			(SELECT module_id AS p_id ,NAME AS PARENT_name FROM module_p) p 
		ON m.parent_id = p.p_id
		where module_id =#{id}
	</select>
	
	<update id="updateModule">
		update module_p 
		<set>
		parent_id = #{parentModule.moduleId},
		name = #{name},
		ctype = #{ctype},
		state = #{state},
		order_no = #{orderNo,jdbcType=INTEGER},
		remark = #{remark},
		<if test="createBy !=null"> create_by = #{createBy},</if>
		<if test="createDept !=null"> create_dept = #{createDept},</if>
		<if test="updateBy !=null"> update_by = #{updateBy},</if>
		update_time = sysdate
		</set>
		where module_id = #{moduleId}
	</update>
	
	
	
	<select id="findModuleListState" resultMap="ModuleRM">
		select * from module_p where state=1
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>